<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19540118995-vcnorump5r3si77nseg50r8msjh833kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19540118995-vcnorump5r3si77nseg50r8msjh833kg</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ8m94_GDfcH_aA1MCEnxHvI7N8ay6Gx8</string>
	<key>GCM_SENDER_ID</key>
	<string>19540118995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shriya.CaseStudy2</string>
	<key>PROJECT_ID</key>
	<string>iphoneprogrammingproject</string>
	<key>STORAGE_BUCKET</key>
	<string>iphoneprogrammingproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19540118995:ios:4a653cc9eb11ce4ae4f326</string>
</dict>
</plist>